@media (max-width: 800px) {

    header h1 {
        font-size: 40px;
    }

    .gallery {
        padding: 60px;
    }
    .gallery .show {
        grid-template-columns: repeat(1, 1fr);
    }
    .gallery .show .photo7, .gallery .show .photo8, .gallery .show .photo2 {
        display: none;
    }

    .brief {
        padding: 20px;
    }
    
    .brief .content2 {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
    }
    .brief .content2 .abt {
        grid-column: 1 / span 1;
        padding: 20px;
    }
    .brief .content2 .box2 {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-left: none;
        border-right: none;
    }
    .brief .content2 .box1, .brief .content2 .box2, .brief .content2 .box3 {
        padding: 20px 0px;
    }

    footer {
        padding: 20px;
    }

    footer .content4 {
        grid-template-columns: repeat(1, auto);
        grid-gap: 1rem;
    }

    footer .content4 .newsletter {
        padding: 20px;
    }

    footer .content4 .contact {
        padding: 20px;
    }
}